.shopping-cart-container {
  font-family: 'Helvetica', sans-serif;
  margin: 20px;
  // border: 2px solid blue; 
  margin-bottom: 15px;
}

.cart-item-inner-container {
  width: 80%;
  // border: 2px solid mediumorchid;
  display: flex;
}

.cart-product-img {
  height: 250px;
  width: 250px;
  border-radius: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 10px;
  // border: 2px solid red;
}

.cart-item-container {
  display: flex;
  margin-top: 5px;
  margin-right: 10px;
  margin-bottom: 20px;
  // border: 2px solid green;
}

.cart-item-remove-btn {
  width: 100px;
  height: 50px;
  // border: 2px solid black;
}

.cart-item-product {
  font-family: inherit;
  font-size: 20px;
  font-weight: 600px;
  margin-top: 10px;
  // border: 2px solid salmon;
}

.cart-item-description {
  font-family: inherit;
  font-size: 18px;
  margin-top: 10px;
  // border: 2px solid turquoise;
}

.cart-product-quantity-bar select {
  margin-top: 10px;
  width: 102px;
  height: 50px;
  border-radius: 20px;
  // border: 2px solid lime;
  // box-shadow: none;
  margin-left: 10px;
}

.cart-item-outer-container {
  // border: 2px solid black;
  // display: flex;
  justify-content: flex-end;
  margin-left: 100px;
}

.cart-item-remove-btn {
  border-radius: 20px;
  margin-top: 75px;
  margin-left: 10px;
  margin-right: 10px;
}

.cart-item-price {
  margin-top: 10px;
  margin-left: 10px;
  width: 30px;
  height: 25px;
  font-family: inherit;
  font-size: 22px;
  font-weight: 600px;
}

.cart-item-each {
  color: grey;
  margin-bottom: 25px;
  margin-top: 5px;
  margin-bottom: 25px;
  margin-left: 10px;
}

.cart-item-quantity-name {
  margin-left: 10px;
}