.shopping-cart-container {
  margin: 20px;
}

.cart-product-img {
  height: 250px;
  width: 250px;
}

.cart-item-container {
  display: flex;
  border: 2px solid red;
}

.cart-item-remove-btn {
  width: 100px;
  height: 50px;
}