.categories-nav {
  display: flex;
  justify-content: space-around;
  border: 0.75rem;
  border: 3px solid yellow;
  margin-bottom: 20px;
  margin-top: 8px;
  font-family: 'Roboto Serif', serif;  
  font-size: 15px;
  background-color: #D3D3D3;
}

.categories-nav div:hover {
  cursor: pointer;  


}