.category-products-container {
    display: flex;
    border: 0.75rem;
    // background-color: red;
    border: 4.5px solid green;
    font-family: 'Roboto Serif', serif;
    flex-wrap: wrap;
    
    
  }

  .product-info-container {
    display: flex;
    border: 0.75rem;
    background-color: white;
    border: 4.5px solid black;
    width: 200px;
    height: 200px;
  }

  .category-product-image {
    height: 9rem;
    width: 9rem;
  }

  .category-info-container:nth-child(4n-7) {
    margin-left: 10px;
  }
  