.modal-cart-container {
  width: 40%;
  height: 100%;
  background: white;
  position: absolute;
  right: 0;
}

.cart-top-container {
  height: 250px;
  width: 250px;
  margin-bottom: 100px;
  display: flex;
}

.cart-modal-img {
  height: 250px;
  width: 250px;
}