.modal-signup-register{
  border: 2px solid green;
  display: flex;
  justify-content: space-between;

}

.modal-display {
  border: 5px solid yellow;
  max-width: 40%;
  max-height: 60%;
  background-color: white;
}