.modal-display {
  // font-family: 'Taviraj', serif;
  // border: 5px solid yellow;
  min-width: 29%;
  min-height: 50%;
  border-radius: 30px;
  background-color: white;
  padding: 40px 30px;
}

.modal-signup-register{
  overflow: hidden;
  // border: 2px solid green;
  display: flex;
  // background-color: red;
  justify-content: space-between;
  // padding: 20px 20px;
  // font-family: inherit;
}  

.modal-sign-in-text {
  // font-family: 'Permanent Marker';
  font-family: 'Taviraj';
  font-size: 20px;
  font-weight: 600;
}

// .test {
  // font-family: 'Permanent Marker';
// }

