.modal-cart-container {
  width: 40%;
  height: 100%;
  background: white;
  position: absolute;
  right: 0;
}

.cart-top-container {
  height: 250px;
  width: 250px;
  margin-bottom: 100px;
  display: flex;
  margin-left: 20px;
}

.cart-button-container {
  margin-left: 20px;
}

.cart-modal-length {
  margin-left: 20px;
  margin-top: 20px;
  font-family: 'Roboto Serif', serif;
  font-size: 20px;
  margin-bottom: 20px;
}

.cart-modal-img {
  height: 250px;
  width: 250px;
}

.cart-modal-btn {
  width: 50%;
  height: 40px;
  background-color: black;
  color: white;
  border-radius: 25px;
  margin-left: 10px;
}