.product-top-container {
  display: flex;
  font-family: 'Roboto Serif', serif;
  // border: 4px solid greenyellow;
  margin: 20px 20px;
}

.product-showpage-container {
  font-family: 'Roboto Serif', serif;
}

.product-seller-name {
  font-family: inherit;
  font-size: 16px;
  margin: 10px 10px;
  display: flex;
  justify-content: space-between;
}

.product-item-name {
  font-family: inherit;
  font-size: 25px;
  margin: 10px;
  font-weight: 300;
  line-height: 1.2;
}


.product-image {
  // border: 2px solid red;
  width: 50%;
  font-family: inherit;
  overflow: hidden;
}

.product-image > img {
  width: 100%;
  height: 100%;
  margin-top: 5px;
}

.product-showpage-price {
  font-family: 'Taviraj', serif;
  font-weight: 400;
  font-size: 26px;
  margin: 10px 0px 50px 10px;
}

.product-quantity {
  max-width: auto;
  font-family: inherit;
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 14px;
}

.product-quantity-bar {
  margin: 5px 0px 10px 10px;
  width: 50%;
  height: 40px;
  box-shadow: 1px 1px 10px #e8e8e8;
  // background-color: transparent;
  font-family: 'Taviraj', serif;
}

.product-add-to-cart-button {
  width: 50%;
  height: 40px;
  background-color: black;
  color: white;
  border-radius: 25px;
  margin-left: 10px;
}

.product-description {
  font-size: 14px;
  font-weight: 300;
  margin-left: 10px;
  margin-bottom: 10px;
  font-family: 'Taviraj', serif;
  font-size: 12px;
}

.product-details {
  margin-left: 10px;
  margin-top: 10px;
  font-weight: 300;
  height: auto;
  width: 50%;
  font-family: 'Taviraj', serif;
  font-size: 14px;
}

.default-picture {
  height: 30px;
  width: 30px;
}

.product-seller-details {
  display: flex;
}

.product-seller-info {
  display: inherit;
  flex-direction: column;
}