.star-rating button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.on {
  color: #000;
}

.off {
  color: #ccc;
}

.star-container {
  display: flex;
}

.star-test {
  background-color: #000;
}

.star-yellow {
  background-color: yellow;
}