.review-container {
  display: flex;
  border: 4px solid orange;
  margin: 20px;
  width: 650px;
  height: 150px;
  padding-top: 20px;
  font-family: 'Roboto Serif', serif;
}

.review-edit-btn {
  margin-right: 10px;
  height: 15px;
  align-self: center;
  font-size: 10px;
  text-align: center;
}

.review-delete-btn {
  margin-right: 10px;
  height: 15px;
  align-self: center;
  font-size: 10px;
  text-align: center;
}

.review-btns {
  border: 4px solid lightgreen;
  display: flex;
  justify-content: flex-end;
}

.left-container {
  width: 100px;
  height: 100px;
  border: 4px solid blue;
}

.test-review-image {
  width: 75px;
  height: 75px;
  border: 4px solid green;
  overflow: hidden;
  border-radius: 50px;
  align-content: center;
}

.right-container {
  border: 4px solid black;
  display: flex;
  width: 100%;
  flex-direction: column;
  font-family: 'Taviraj', serif;
}

.review-content {
  border: 4px solid cyan;
  font-size: 14px;
}

.review-body {
  // font-family: inherit;
  font-family: 'Taviraj', serif;
  font-size: 14px;
  margin-bottom: 5px;
}

.review-rating {
  font-size: inherit;
  font-family: inherit;
  margin-bottom: 5px;
}

.review-author {
  font-size: 14px;
  text-decoration: underline;
}

.review-user {
  font-size: 14px;
  margin-bottom: 5px
}

.review-info {
  margin-left: 20px;
  font-size: 15px;
}