.review-container {
  display: flex;
  border: 1.5px solid black;
  margin: 20px;
  max-width: 50%;
  min-width: 700px;
  height: 100px;
  // padding-top: 20px;
  font-family: 'Roboto Serif', serif;
}

.review-faqs {
  width: 50%;
}

.review-button {
  width: 150px;
  height: 150px;
}

.review-edit-btn {
  margin-right: 10px;
  height: 15px;
  align-self: center;
  font-size: 10px;
  text-align: center;
}

.review-delete-btn {
  margin-right: 10px;
  height: 15px;
  align-self: center;
  font-size: 10px;
  text-align: center;
}

.review-btns {
  // border: 4px solid lightgreen;
  display: flex;
  justify-content: flex-end;
}

.review-left-container {
  width: 100px;
  height: 100px;
  display: flex;
  // border: 4px solid blue;
  // align-items: center;
}

.test-review-image {
  width: 50px;
  height: 50px;
  // border: 4px solid green;
  margin: auto;
  overflow: hidden;
  border-radius: 50px;
  // align-content: center;
  // justify-content: center;
}

.right-container {
  // border: 4px solid black;
  display: flex;
  width: 100%;
  flex-direction: column;
  font-family: 'Taviraj', serif;
}

.review-content {
  // border: 4px solid cyan;
  font-size: 14px;
}

.review-body {
  // font-family: inherit;
  font-family: 'Taviraj', serif;
  font-size: 14px;
  margin-bottom: 5px;
}

.review-rating {
  font-size: inherit;
  font-family: inherit;
  margin-bottom: 5px;
}

.review-author {
  font-size: 14px;
  text-decoration: underline;
}

.review-user {
  font-size: 14px;
  margin-bottom: 5px
}


.review-info {
  margin-left: 20px;
  font-size: 12px;
  max-width: 50%;
  min-width: 700px;
  text-decoration: underline;
}

.review-faq {
  display: flex;
  width: 50%;
}

.review-main-container {
  // max-width: 100%;
  min-width: 400px;
  display: flex;
}

.meet-your-seller{
  font-size: 9px;
  color: grey;
  margin-bottom: 10px;
}

.default-picture {
  border-radius: 50%;
  margin-right: 15px;
}

.test-store-owner{
  font-size: 12px;
}

.faqs-button {
  margin-top: 30px;
  margin-bottom: 10px;
  box-sizing: border-box;
  width: 50px;
  height: 25px;
  border-style: none;
  background: none;
  color: #212121;
  border-radius: 25px;
  font-size: 12px;
  border: 1.5px solid #212121;
}

.owner-of-store {
  font-size: 9px;
  color: grey;
}

.faqs-message-button{
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  border-style: none;
  background: none;
  color: #212121;
  border-radius: 25px;
  font-size: 16px;
  margin-bottom: 5px;
  border: 1.5px solid #212121;
}